{
  "extends": "../.eslintrc",
  "rules": {
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./internals/webpack/webpack.prod.babel.js"
      }
    }
  }
}
